 .style{
         color: rgb(241, 101, 113);
         font-family: 'Times New Roman', Times, serif;
         text-align: right;
 }
 #main{
color: rgb(111, 138, 129);
font-weight: bold;
font-family: 'Times New Roman', Times, serif;

 }
 body{
    background-color: rgb(103, 76, 255);
 }